/* Selector style */
.select-wrapper input.select-dropdown {
    color: #ffffff;
}

.dropdown-content.select-dropdown > li span {
    background-color: #222222;
}

.option {
    color: #ff0000
}

.dot {
    stroke: #000;
}

.line {
    fill: none;
    stroke-width: 2px;
}

html, body, #viewsContainer {
    font-family: f1font;
    width: 100%;
    height: 100%;
}

#infoContainer {
    width: 0%;
    height: 0%;
}

.grid-container-home {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 55% 45%;
    grid-template-rows: auto auto;
}

#mapView,  #racesView, #gr_1, #gr_2, #resTable, #standingPlot {
    display: block;
    overflow: auto;
    float: left;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
}

.legend-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
}

#constructorsPlot, #driversPlot, #drChampPlot, #csChampPlot, #g_3, #g_6, {
    display: block;
    overflow: auto;
    float: left;
    padding: 10px;
}

.modal {
    width: 100% !important;
    height: 100% !important;
}

#modalContainer {
    width: 100% !important;
}

.bar {
    fill: steelblue;
}
.bar:hover {
    fill: orange;
}

.tooltipForDr, .tooltipForCo {
    font-family: f1font;
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 20px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.tooltipForDrC {
    font-family: f1font;
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 100px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

@font-face {
    font-family: 'f1font';
    src: url("../F1FontFiles/Formula1-Regular.otf");
}
