/* Selector style */
input.select-dropdown {
    font-family: f1font;
    color: #ffffff;
}

.dropdown-content.select-dropdown > li span {
    background-color: #222222;
}

html, body, #viewsContainer {
    font-family: f1font;
    width: 100%;
    height: 100%;
    background: #222222;
    color: #ffffff;
    scrollbar-color: dark;
}

#infoContainer, #pcaContainer, #circuitContainer {
    width: 0%;
    height: 0%;
    background: #222222;
    color: #ffffff;
}

#firstMenuButton {
    margin-top: 20px;
}

.grid-container-home {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 55% 45%;
    grid-template-rows: 6% 50% auto;
    background: #222222;
    color: #ffffff;
}

.grid-container-modal {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 5% auto 5% auto;
    background: #222222;
    color: #ffffff;
}

.modal {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    max-height: 90% !important;
    border-radius:20px;
    background-color: #222222 !important;
    overflow: hidden;
}

.modal-footer, .modal-header {
    background-color: #000000 !important;
}

.modal-header {
    padding-bottom: 10px;
}

#mapView, #racesView, #mapViewTitle, #racesViewTitle, #gr_1, #racesPlotLegendView, #resTable, #standingPlot {
    display: block;
    float: left;
    padding: 10px;
    background: #222222;
    color: #ffffff;
}

#modalContainer {
    margin-bottom: 50px;
}

.grid-container-info {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: auto auto 50% auto 50%;
    background: #222222;
    color: #ffffff;
}

.grid-container-pca {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% auto;
    background: #222222;
    color: #ffffff;
}

#champions {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% auto;
    grid-template-areas:
        "header header"
        "driv cons";
    background: #222222;
    color: #ffffff;
}

#pcaDriverTitle, #pcaConstructorTitle, #pcaDriver, #pcaConstructor {
    display: block;
    float: left;
    padding: 10px;
}

.grid-container-circuits {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 6% 6% auto auto;
    grid-template-areas:
        "header header"
        "selector selector"
        "title1 title2"
        "circ quali"
        "lap legend";
    background: #222222;
    color: #ffffff;
}

#circuitsTitle, #circuitsSelector, #circuitPlotTitle, #qualiStandingPlotTitle, #circuitPlot, #qualiStandingPlot, #lapTimesPlot, #lapTimesLegend{
    display: block;
    float: left;
    padding: 10px;
}

.legend-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
    background: #222222;
    color: #ffffff;
}

#constructorsPlot, #driversPlot, #drChampPlot, #csChampPlot, #bestDriver, #bestConstructor, #constructorsPlotTitle, #driversPlotTitle, #drChampPlotTitle, #csChampPlotTitle, #bestDriverTitle, #bestConstructorTitle, #circuitPlot, #qualiStandingPlot{
    display: block;
    float: left;
    padding: 10px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    font-family: f1font;
    width: auto;
    height: auto;
    padding: 2px;
    background: #333333;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 99;
}

@font-face {
    font-family: 'f1font';
    src: url("../F1FontFiles/Formula1-Regular.otf");
}

::selection {
    background-color: #fff;
    color: red;
}

.axis, .axis text {
    fill: #fff;
    font-size: 16px;
}

.axis line {
    stroke: red;
    stroke-width: 5px;
}

.barText {
    fill: #fff;
    font-size: 20px;
}

.drivLab, .champLab {
    fill: #fff;
    font-size: 32px;
}


.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 0;
}

/* Loader style */
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #000000 url(../images/loader.gif) no-repeat center center;
    text-align: center;
    color: #999;
}
.loaderPCA {
    position: fixed;
    width: 50%;
    height: 40%;
    background: url(../images/loader.gif) no-repeat center center;
    text-align: center;
    color: #999;
}

.title {
    font-size: 32px;
    margin-top: 10px;
}

.normalText {
    font-size: 24px;
}

@media only screen and (min-width: 801px) {

   .title {
      font-size: 32px;
   }

   .normalText {
       font-size: 24px;
   }

}

@media only screen and (max-width: 800px) {

   .title {
      font-size: 16px;
   }

   .normalText {
       font-size: 12px;
   }

}

/*Creates table with scrollable tbody*/
tbody {
  display:block;
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead {
  width: calc( 100% - 1em )
}
table {
  width:100%;
}

/* unvisited link */
a:link {
  color: #ffffff;
}

/* visited link */
a:visited {
  color: #ffffff;
}

/* mouse over link */
a:hover {
  color: #ff0000;
}

/* selected link */
a:active {
  color: #ffffff;
}

/* Table colors */
.resultTablePosition > tbody > tr:nth-child(2n+1) > td, .resultTablePosition > tbody > tr:nth-child(2n+1) > th {
   background-color: #333333;
}

.resultTablePosition > tbody > tr:hover > td, .resultTablePosition > tbody > tr:hover > th {
    background-color: #444444 !important;
}

/**** Custom styles for noUiSlider ****/
#yearSliderContainer{
    background-color: #111111;
    grid-column: 1 / 4;
    grid-row: 1;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
}

.noUi-connect {
	background: red;
}
.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
	background: red;
}
.noUi-target.noUi-horizontal .noUi-tooltip {
	background-color: red;
}
