/* Selector style */
.select-wrapper input.select-dropdown {
    color: #ffffff;
}

.dropdown-content.select-dropdown > li span {
    background-color: #222222;
}

.option {
    color: #ff0000
}

.dot {
    stroke: #000;
}

.line {
    fill: none;
    stroke-width: 2px;
}

html, body, #viewsContainer {
    width: 100%;
    height: 100%;
}

#mapView,  #c {
    width: 50%;
    height: 50%;
    float: left;
}

.modal {
    width: 100% !important;
    height: 100% !important;
}

#modalContainer {
    width: 100% !important;
}

#resTable, #standingPlot {
    width: 50% !important;
    height: 100% !important;
    float: left;
}

#resTable, #standingPlot {
    overflow: auto;
}

#c {
    background-color: #0000ff
}
