.background {
    fill: none;
    pointer-events: all;
}

.stiky {
    position: fixed;
    top: 0;
}

.feature {
    fill: #ccc;
    cursor: pointer;
}

.feature.active {
    fill: orange;
}

.mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
}
